In [69]:
#task 1a
rollno=8
print(rollno,id(rollno),id(rollno))

8 2803291744784 2803291744784

In [21]:
#task 1b
firstname='Maximus'
print(firstname,id(firstname),type(firstname))

Maximus

str

In [22]:
#task 1c
lastname='Apollo'
print(lastname,id(lastname),type(lastname))

Apollo

str

In [23]:
#task 1d
maxmarks=50
print(maxmarks,id(maxmarks),type(maxmarks))

50

int

In [25]:
#task 2a
var1=2
print(var1)

2

In [26]:
#task 2b,variable name cannot begin with a number
2var=2

SyntaxError: invalid syntax (3158215196.py, line 2)

In [27]:
#task 2c,variable name cannot contain spaces
var 1=2

SyntaxError: invalid syntax (3619582334.py, line 2)

In [28]:
#task 2d,variable name cannot contain symbols other than underscore
var$2=2

SyntaxError: invalid syntax (450101619.py, line 2)

In [31]:
#task 3a
Class=15
print(Class)

SyntaxError: invalid syntax (978763811.py, line 3)

In [ ]:
#task 3b,class is a keyword
class=14
print(class)

In [33]:
#task 3c
DEF=13
print(DEF)

13

In [34]:
#task 3d,def is a keyword
def=12

SyntaxError: invalid syntax (2169271399.py, line 2)

In [35]:
#task 3e,TRUE is not a boolean value
a=TRUE
print(a)

NameError: name 'TRUE' is not defined

In [36]:
#task 3,FALSE is not a boolean value
b=FALSE
print(b)

NameError: name 'FALSE' is not defined

In [70]:
#task 4-id is same because the variable 'marks' is stored in the same location and only the data in the location has changed
marks=40
print(marks,id(marks),type(marks))
marks=(32)
print(marks,id(marks),type(marks))
id(marks)

40 2803291745808 <class 'int'>
32 2803291745552 <class 'int'>

2803291745552

In [60]:
#task 5a
percentage=marks*100/maxmarks
print(percentage,'%')

64.0 %

In [64]:
#task 5b
fullname=firstname+' '+lastname
print(fullname)

Maximus Apollo

In [65]:
#task 5c
print(fullname,'scored',percentage,'%')

Maximus Apollo scored 64.0 %

In [66]:
#task 6a
keylist={rollno:fullname}
print(keylist)

{8: 'Maximus Apollo'}

In [67]:
#task 6b
listdata=[rollno,fullname,marks]
print(listdata)

[8, 'Maximus Apollo', 32]

In [68]:
#task 7a,cannot add intiger and string
x=1+"2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [73]:
#task 7b,it concatenated two strings
y="1"+"2"
print(y,type(y))

12 <class 'str'>

In [74]:
#task 7c,basic division
z=1/2
print(z)

0.5

In [75]:
#task 7d,quotient
zz=1//2
print(zz)

0

In [81]:
#task 8
True and True   #Onlt true when both are true
True and False  #Onlt true when both are true
False or True   #Only true when either value is True
False or False  #Only true when either value is True

False

In [89]:
#task 9a
zz=firstname in fullname
print(zz)

True

In [90]:
#task 9b
zzz=firstname is fullname
print(zzz)

False

In [91]:
#task 10,mathematically different statements
a=4
b=3
c=2
d=a**b+c
e=a**(b+c)
print('d=',d,' ','e=',e)

d= 66   e= 1024

In [101]:
#task 11
r=6
area=3.14152895*r**2
print("the area of circle of radius 6 is ",area)

the area of circle of radius 6 is  113.09504220000001

In [102]:
#task 12
sellingprice=85
tax=sellingprice*0.18
finalprice=sellingprice+tax
print(finalprice)

100.3

In [ ]:
#task 13
amountindollars=3333
rupees_dollars=75
amountinrupees=rupees_dollars*amountindollars
print(amountinrupees)

In [104]:
#task 14
inflation=7
amount=500
purchasingpowerlastyear=500*(100+7)/100
print(purchasingpowerlastyear)

249975

535.0