In [30]:
import re
import numpy as np
import array

In [85]:
#task 1
for i in range(1,6):
    print(i*'*')
for i in range(4,0,-1):
    print(i*'*')

*
**
***
****
*****
****
***
**
*

In [32]:
#task 2
l2=[]
for i in range(1,51):
    if i%3==0 and (i%15!=0):
        a21='Fizz'
        l2.append(a21)
    elif i%5==0 and (i%15!=0):
        a22='Buzz'
        l2.append(a22)
    elif i%15==0:
        a23='FizzBuzz'
        l2.append(a23)
    else:
        l2.append(i)
for i in l2:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [23]:
t3=input("Enter a password with atleast one lowercase and one uppercase letter,a symbol(#$@) and length between 6 and 16 characters: ")
charflag=0
uppercaseflag=0
lowercaseflag=0
numberflag=0
for i in t3:
    if i.isdigit():
        numberflag=1
    elif i.islower():
        lowercaseflag=1
    elif i.isupper():
        uppercaseflag=1
    elif ((i=='#') or (i=='$') or (i=='@')):
        charflag=1
if (charflag==1)&(numberflag==1)&(lowercaseflag==1)&(uppercaseflag==1):
    print('Your password is valid')

Enter a password with atleast one lowercase and one uppercase letter,a symbol(#$@) and length between 6 and 16 charactersAsd#123
Your password is valid

In [27]:
#task 4
m=input('Enter the month(for example: January): ')
d=int(input('enter the date: '))
if (m=='October') or (m=='November' and (d>14)) or (m=='December') or (m=='January'):
    s='Winter'
elif m=='February':
    s='Spring'
elif m=='March' or m=='April' or m=='May':
    s='Summer'
elif m=='June' or (m=='July' & d<15):
    s='Autumn'
elif (m=='July' and d>=15) or m=='August' or m=='September':
    s='Rainy'
print('It is',s,'season')

Enter the month(for example: January): May
enter the date: 12
It is Summer season

In [24]:
#task 5
t5={'Roger Federer':44,'Roger Ebert':99,'Max':25,'Enola':17}
l5=[]
for i in t5.keys():
    if t5[i]<30:
        l5.append(i)
l5

['Max', 'Enola']

In [33]:
#task 6
t6=[1,2,3,4,-5,-6,-7,-8]
t61=[]
for i in t6:
    if i<0:
        t61.append(i)
ar6=np.array(t61)
ar6

array([-5, -6, -7, -8])

In [48]:
#task 7
t7={'Roger Federer':44,'Roger Ebert':99,'Max':25,'Enola':17}
a7=list(t7.values())
a7.sort()
a7=a7[::-1]
a7[0:3]

[99, 44, 25]

In [77]:
#task 8
def lcm(a,b,c,d):
    l8=[]
    for i in range(1,a*b*c*d):
        if i%a==0 and i%b==0 and i%c==0 and i%d==0:
            l8.append(i)
    
    print(l8[0],'is the lcm of',a,b,c,d)        
lcm(2,4,6,8)

24 is the lcm of 2 4 6 8

In [84]:
#task 9
def hcf(e,f,g):
    l9=[]
    for i in range(1,max(e,f,g)):
        if e%i==0 and f%i==0 and g%i==0:
            l9.append(i)
    
    print(l9[-1],'is the hcf of',e,f,g)        
hcf(6,18,24)

6 is the hcf of 6 18 24

In [51]:
#task 10
t10=int(input('Enter a number to get its table'))
for i in range(1,21):
    print(i,'*',t10,'=',i*t10)

Enter a number to get its table11
1 * 11 = 11
2 * 11 = 22
3 * 11 = 33
4 * 11 = 44
5 * 11 = 55
6 * 11 = 66
7 * 11 = 77
8 * 11 = 88
9 * 11 = 99
10 * 11 = 110
11 * 11 = 121
12 * 11 = 132
13 * 11 = 143
14 * 11 = 154
15 * 11 = 165
16 * 11 = 176
17 * 11 = 187
18 * 11 = 198
19 * 11 = 209
20 * 11 = 220

In [100]:
#task 11
def factorial(z):   
    i=1
    f=1
    while i<=z:
        f=i*f
        i+=1
        if i==z+1:
            break
    return f
factorial(7)

5040

In [102]:
#task 12
t12=int(input('Enter a number to get the value of e raised to the power said number: '))
l12=[]
for i in range(1,100):
    z12=t12**i/factorial(i)
    l12.append(z12)
sum12=0
for j in l12:
    sum12=sum12+j
sum12=1+sum12
sum12

Enter a number to get the value of e raised to the power said number: 3

20.08553692318766