In [54]:
import numpy as np
import pandas as pd

In [55]:
#task 1
cars=pd.Series(np.random.randint(30000,50000,20),index=np.arange(101,121))
cars

101    36484
102    31420
103    31888
104    40516
105    46079
106    41138
107    38434
108    33721
109    48115
110    45523
111    38854
112    38241
113    43242
114    36347
115    39015
116    31626
117    32553
118    30210
119    31955
120    34189
dtype: int32

In [56]:
#task 2
cars[cars>40000]

104    40516
105    46079
106    41138
109    48115
110    45523
113    43242
dtype: int32

In [57]:
#task 3
print(cars.iloc[10:16])
print("Highest price of car between 111 and 116 is",cars.iloc[10:16].max())

111    38854
112    38241
113    43242
114    36347
115    39015
116    31626
dtype: int32
Highest price of car between 111 and 116 is 43242

In [58]:
#task 4
print(cars[cars.between(30000,40000)])
print("There are",len(cars[cars.between(30000,40000)]),"cars priced between 30000 and 40000")

101    36484
102    31420
103    31888
107    38434
108    33721
111    38854
112    38241
114    36347
115    39015
116    31626
117    32553
118    30210
119    31955
120    34189
dtype: int32
There are 14 cars priced between 30000 and 40000

In [59]:
#task 5
print(cars[cars>cars.mean()])
print("There are",len(cars[cars>cars.mean()]),"cars whose prices are above the average price")

104    40516
105    46079
106    41138
107    38434
109    48115
110    45523
111    38854
112    38241
113    43242
115    39015
dtype: int32
There are 10 cars whose prices are above the average price

In [60]:
#task 6
newcars=pd.Series([34000,45000,54000],index=[201,202,203])
cars=cars.append(newcars)
cars

C:\Users\saiki\AppData\Local\Temp\ipykernel_7740\3237207256.py:3: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cars=cars.append(newcars)

101    36484
102    31420
103    31888
104    40516
105    46079
106    41138
107    38434
108    33721
109    48115
110    45523
111    38854
112    38241
113    43242
114    36347
115    39015
116    31626
117    32553
118    30210
119    31955
120    34189
201    34000
202    45000
203    54000
dtype: int64

In [61]:
#task 7
cars2=cars.copy()
car2=pd.DataFrame(cars2.rename('price'),index=cars2.index)

cars[cars>40000]=cars*0.9

car2=pd.concat([cars2.rename('Price'),cars.rename('Discounted Price')],axis=1)
car2

     Price  Discounted Price
101  36484           36484.0
102  31420           31420.0
103  31888           31888.0
104  40516           36464.4
105  46079           41471.1
106  41138           37024.2
107  38434           38434.0
108  33721           33721.0
109  48115           43303.5
110  45523           40970.7
111  38854           38854.0
112  38241           38241.0
113  43242           38917.8
114  36347           36347.0
115  39015           39015.0
116  31626           31626.0
117  32553           32553.0
118  30210           30210.0
119  31955           31955.0
120  34189           34189.0
201  34000           34000.0
202  45000           40500.0
203  54000           48600.0

In [62]:
#task 8
print('There were',len(cars2[cars2.between(30000,40000)]),'cars priced between 30000 and 40000 before discount and',len(cars[cars.between(30000,40000)]),'cars between 30000 and 40000 after the discount')

There were 15 cars priced between 30000 and 40000 before discount and 18 cars between 30000 and 40000 after the discount

In [63]:
#task 9
sortcars=cars.sort_values(ascending=False)
sortcars[0:5]

203    48600.0
109    43303.5
105    41471.1
110    40970.7
202    40500.0
dtype: float64