In [1]:
#task 1
mynames=["Joe","Zoe","world","Brad","Angelina","world","Zuki","Tom","Paris","world","magic"]
if "USA" in mynames is True:
    print("TRUE")
else:
    print("FALSE")

FALSE

In [ ]:
#task 2
countworld=mynames.count("world")
print("the word 'world' occurs",countworld,"times")

In [54]:
#task 3
dataset=list(range(1,30))
for i in dataset:
    if i%2==0:
        print(i)
    else:
        pass

2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [55]:
#task 4
dataset=list(range(1,30))
el=[]
for i in dataset:
    if i%2==0:
        
        el.append(i)
    else:
        pass
print(el[0:5])

[2, 4, 6, 8, 10]

In [58]:
#task 5
dataset=list(range(1,30))
count=0
for i in dataset:
    if i%2!=0:
        count=count+1
        tcount==count
    else:
        pass
    if ((count==tcount-1) or count==tcount) and i%2!=0:
        print(i)

27
29

In [35]:
#task 6
x=[]
y=[]
x.extend([1,2,3,4,5])
y.extend([6,7,8,9,10])
x.extend(y)
x.insert(0,"Numbers")
print(x)
print(y)

['Numbers', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[6, 7, 8, 9, 10]

In [59]:
#task 7
els=[]
num=range(1,41)
for i in num:
    sq=i**2
    els.append(sq)
print(els[0:10])
print(els[29:41])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600]

In [63]:
#task 8
n=int(input("enter a number to get a multiplication table for: "))
for i in range(1,11):
    print(n,'x',i,'=',n*i)

enter a number to get a multiplication table for: 171
171 x 1 = 171
171 x 2 = 342
171 x 3 = 513
171 x 4 = 684
171 x 5 = 855
171 x 6 = 1026
171 x 7 = 1197
171 x 8 = 1368
171 x 9 = 1539
171 x 10 = 1710