In [16]:
#task 1
n=int(input("Enter a number to get its factorial: "))
i=1
f=1
while i<=n:
    f=i*f
    i=i+1
print("the factorial of",n,"is",f)

Enter a number to get its factorial:

ValueError: invalid literal for int() with base 10: ''

In [17]:
#task 2
i=1
while i<=20:
    c=0
    j=1
    while i>=j:
        if i%j==0:
            c=c+1
        j=j+1
    if c==2:
        print(i)
    i=i+1

2
3
5
7
11
13
17
19

In [34]:
#task 3
x=input("Enter a 5 digit number: ")
s=int(x[0])+int(x[1])+int(x[2])+int(x[3])+int(x[4])
print("The sum of the digits is",s)

Enter a 5 digit number: 12356
The sum of the digits is 17

In [39]:
#task 4
a=1
b=2
i=0
while i<7:
    print(a)
    n=a+b
    a=b
    b=n
    i=i+1

1
2
3
5
8
13
21

In [4]:
#task 5 no change because the values from t2 were just shifted to old id of t1;t2 totally unchanged.
t1=()
t2=()
print("t1",id(t1),"t2",id(t2))
t1=t1+t2
print("t1",id(t1),"t2",id(t2))

t1 1803040342080 t2 1803040342080
t1 1803040342080 t2 1803040342080

In [15]:
#task 6,the common elemnts are present as this is not a set 
m={10,20,30,40,50}
n={30,40,50,60,70}
m=m.union(n)
print(m)

{70, 40, 10, 50, 20, 60, 30}

In [42]:
#task 7
port1={'FTP':1,'SSH':2,'telnet':3,'http':4}
for v in port1:
    if port1[v]%2==0:
        print(port1[v])

2
4

In [48]:
#task 8
d={}
for i in range(1,16):
    d.update({i:i**2})
print("d =",d) 
d.update({100:10000})
print(d)

d = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 100: 10000}

In [51]:
#task 9
port1={21:'FTP',22:'SSH',23:'telnet',24:'http'}
port2=dict([(value,key) for key,value in port1.items()])
print(port1)
print(port2)

{21: 'FTP', 22: 'SSH', 23: 'telnet', 24: 'http'}
{'FTP': 21, 'SSH': 22, 'telnet': 23, 'http': 24}

In [3]:
#task 10
Employee={'Emp1':{'name':'Sara','Dept':'IT','Designation':'Team Lead'},'Emp2':{'name':'Anna','Dept':'IT','Designation':'Senior Software Engineer'},'Emp3':{'name':'Andy','Dept':'BioTech','Designation':'Senior Software Engineer'},'Emp4':{'name':'Andy','Dept':'BioTech','Designation':'Senior Software Engineer'}}
d=[]
emp=dict()
for key,value in Employee.items():
    if value not in d:
        d.append(value)
        emp[key]=value
print(emp)

{'Emp1': {'name': 'Sara', 'Dept': 'IT', 'Designation': 'Team Lead'}, 'Emp2': {'name': 'Anna', 'Dept': 'IT', 'Designation': 'Senior Software Engineer'}, 'Emp3': {'name': 'Andy', 'Dept': 'BioTech', 'Designation': 'Senior Software Engineer'}}